/**
 * 本地字体配置
 * Noto Sans SC & Noto Serif SC
 */

/* =================================================================
   Noto Sans SC - 思源黑体 (用于正文和UI元素)
   ================================================================= */

/* Light - 300 */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/NotoSansSC-Light.ttf') format('truetype');
}

/* Regular - 400 */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/NotoSansSC-Regular.ttf') format('truetype');
}

/* Medium - 500 */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/NotoSansSC-Medium.ttf') format('truetype');
}

/* SemiBold - 600 */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/NotoSansSC-SemiBold.ttf') format('truetype');
}

/* Bold - 700 */
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/NotoSansSC-Bold.ttf') format('truetype');
}

/* =================================================================
   Noto Serif SC - 思源宋体 (用于标题)
   ================================================================= */

/* Regular - 400 */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/NotoSerifSC-Regular.ttf') format('truetype');
}

/* Medium - 500 */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/NotoSerifSC-Medium.ttf') format('truetype');
}

/* SemiBold - 600 */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/NotoSerifSC-SemiBold.ttf') format('truetype');
}

/* Bold - 700 */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/NotoSerifSC-Bold.ttf') format('truetype');
}

